$themeColor--1: #fff;
$themeColor--2: #f0f0f0;
$color--1:#3d87fe;
$color--2:#a6a6a6;


$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-17:17px;
$font-18:18px;
$font-19:19px;
$font-20:20px;
$font-21:21px;
$font-22:22px;
$font-23:23px;
$font-24:24px;
$font-25:25px;