$themeColor--1: #67C23A;
$themeColor--2: #409EFF;

$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-17:17px;
$font-18:18px;
$font-19:19px;
$font-20:20px;
$font-25:25px;