$themeColor--1: #fff; //主题色

$color--1:#3d87fe; //菜单栏活动色
$color--2:#a6a6a6; //鼠标悬浮色
$color--3: #f0f0f0; //与关闭颜色相通

$color--4:#1e6eff; //气泡主题色（自己）
$color--5:#fff; //气泡主题色（对面）


$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-17:17px;
$font-18:18px;
$font-19:19px;
$font-20:20px;
$font-21:21px;
$font-22:22px;
$font-23:23px;
$font-24:24px;
$font-25:25px;